#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
}

div.wrap {
  margin: 10px;
  height: 85vh;
}

md-toolbar {
  background: #4aab5e;
  font-weight: bold;
  color: rgba(0,0,0,.40);
}
